[Unit]
Description=Behavior staring script
After=multi-user.target
[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/jellylamp/demos/escape.py
[Install]
WantedBy=multi-user.target
